/.vs
/Mabinogi Glenn Death Timer OpenCV/bin/Debug
/Mabinogi Glenn Death Timer OpenCV/obj/Debug
/C\#/Mabinogi Glenn Death Timer OpenCV/obj/Debug
/C\#/.vs
/C\#/Mabinogi Glenn Death Timer OpenCV/bin/Debug
/C\#/Mabinogi Glenn Death Timer OpenCV/obj
/C\#/Mabinogi Glenn Death Timer OpenCV/bin/Release
/C\#/Mabinogi Glenn Assitant/obj
